:root {
    --highlight-color: #4f52aa;
    --a-in-highlight: #dcf1ff;
}

pre {
    white-space: pre-wrap;
}

.param-form-container {
    text-align: center;
    margin: 20px;
}

.param-form-container form {
    /* border: 1px solid black; */
    display: inline-block;
}

/* table stuff */
table.pure-table {
    border-collapse: collapse;
    text-align: left;
}

.pure-table th {
    background-color:var(--highlight-color);
    color: white;
    padding: 10px 7px !important;
    border: 0px solid red !important;
}

.pure-table td {
    padding: 9px 7px !important;
    border: 0px solid red !important;
}

.gains-text {
    color: green;
}

.loss-text {
    color: red;
}

.right-align {
    text-align: right !important;
}

table.small-td-text td {
    font-size: 0.9em;
}

/* toolbar stuff */
#toolbar {
    width: 100%;
    padding: 7px 0px;
    margin: 0px 0px 10px 0px;
}

/* theming */
a:link, a:visited {
    color: #06C;
}

.highlight {
    background-color: var(--highlight-color);
    color: white;
}

.highlight a:link {
    color: var(--a-in-highlight);
}

.highlight a:visited {
    color: var(--a-in-highlight);
}

.material-icons {
    font-size: 24px;
}

.pure-button-primary {
    background-color: var(--highlight-color) !important;
    border-radius: 0px;
}

/* .pure-button-primary {
    background-color: white !important;
    border-radius: 4px;
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color)
} */

/* jquery-ui theme overrides */
.ui-state-active {
    border: 1px solid var(--highlight-color) !important;
    background: var(--highlight-color) !important;
}

/* watchlist page specific */
#watchlist-container {
    height: calc(100vh - 175px);
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box !important;
}

@media screen and (max-width: 80em) {
    #watchlist-container {
        height: 100%;
    }
}

.backgroundText {
    text-align: center;
    color: grey;
    width: 100%
}

[v-cloak] {
    display: none;
}