:root {
    --highlight-color: #4f52aa;
    --a-in-highlight: #dcf1ff;
}

pre {
    white-space: pre-wrap;
}

.param-form-container {
    text-align: center;
    margin: 20px;
}

.param-form-container form {
    /* border: 1px solid black; */
    display: inline-block;
}

.param-form-container input {
    margin-right: 10px;
}

.credits {
    text-align: left;
    margin-top: 50px;
    font-size: 14px;
    color: grey;
}

.credits p {
    margin: 2px;
}

/* table stuff */
table.pure-table {
    border-collapse: collapse;
    text-align: left;
    border-top: 0px;
}

/* fix Pure CSS Library bug */
.pure-table-striped tr:nth-child(2n-1) {
    background-color: #f2f2f2;
}

.pure-table th {
    background-color: var(--highlight-color);
    color: white;
    padding: 10px 7px;
    border: 0px solid red;
}

.pure-table th.shrink-wrap {
    width: 0px;
    white-space: nowrap;
}

.pure-table td {
    padding: 9px 7px;
    border: 0px solid red;
}

.pure-table th.button-container {
    width: 56px;
}

.pure-table td.button-container {
    padding: 5px 7px;
}

.pure-table td.button-container .material-icons {
    font-size: 24px;
    color: var(--highlight-color);
    cursor: pointer;
    line-height: 1.2;
}

.pure-table td.button-container .material-icons:not(:first-child) {
    margin-left: 5px;
}

.pure-table td.button-container .material-icons:hover {
    background: var(--highlight-color);
    color: white;
}

.gains-text {
    color: green;
}

.loss-text {
    color: red;
}

.right-align {
    text-align: right !important;
}

table.small-td-text td {
    font-size: 0.9em;
}

.no-comment {
    visibility: hidden;
}

/* sortable table stuff */
.table-sortable .ui-icon {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png");
}

.table-sortable th.tablesorter-header, .table-sortable .sortable-header {
    padding-right: 3px; /* decrease padding so arrows line up with content on right-aligned columns */
    cursor: pointer;
    user-select: none;
}

/* toolbar stuff */
.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 0px;
    margin: 0px 0px 10px 0px;
}

.toolbar-left {
    display: inline-block;
    margin: 0px 0px 0px 5px;
    text-align:left;
}

.toolbar-right {
    display: inline-block;
    margin: 0px 4px;
    overflow: visible;
}

.toolbar-right img {
    width: 20px;
    height: auto;
}

/* theming */
a, a:link, a:visited {
    color: #06C;
    text-decoration: underline;
    cursor: pointer;
}

.highlight {
    background-color: var(--highlight-color);
    color: white;
}

.highlight a {
    color: var(--a-in-highlight);
}

.highlight a:link {
    color: var(--a-in-highlight);
}

.highlight a:visited {
    color: var(--a-in-highlight);
}

.pure-button-primary {
    background-color: var(--highlight-color) !important;
    border-radius: 0px;
}

.pure-form-stacked label {
    margin: 1em 0 .5em 0;
}

/* .pure-button-primary {
    background-color: white !important;
    border-radius: 4px;
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color)
} */

/* jquery-ui theme overrides */
.ui-state-active {
    border: 1px solid var(--highlight-color);
    background: var(--highlight-color) !important;
    color: white;
}

.ui-widget-overlay {
    opacity: 0.4;
}

.ui-widget-content a {
    color: #06C;
}

/* dialog overrides */
.themed-titlebar.ui-dialog {
    padding: 0px;
    border: 0px;
}

.themed-titlebar .ui-dialog-titlebar {
	/* display: none; */
	border: 0px;
	background: var(--highlight-color);
	color: #ffffff;
	border-radius: 0px;
}

.themed-titlebar .ui-dialog-title {
    width: 100%;
    white-space: normal;
    font-size: 1.1em;
}

.themed-titlebar .ui-button {
    display: none;
}

#add-watchlist-dialog input[type="number"] {
    width: 100%;
}

#add-watchlist-dialog input[type="text"] {
    width: 100%;
}

/* Tab UI overrides */
.watchlist-tabs-container.ui-tabs {
    padding: 0px;
    border: 0px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.watchlist-tabs-container .ui-tabs-nav {
    padding: 0px;
    border: 0px;
    background: inherit;
    line-height: 1;
    display: flex;
    flex-wrap: wrap-reverse;
}

.watchlist-tabs-container .ui-tabs-nav::after {
	content: "";
	flex-grow: 100;
}

.watchlist-tabs-container .watchlist-tab.ui-tab {
    padding-bottom: 0px;
    margin: 0px;
    border-top: 1px #cbcbcb solid;
    border-left: 1px #cbcbcb solid;
    border-right: 1px #cbcbcb solid;
    font-weight: bold;
    border-radius: 0px;
    flex-grow: 1;
    display: flex;
}

.watchlist-tabs-container .watchlist-tab.ui-tab a {
    width: 100%;
    text-align: center;
}

.watchlist-tabs-container .watchlist-tab.ui-tab .tab-control-container {
    margin: auto 6px;
}

.tab-control-container i {
    margin-left: 3px;
    cursor: pointer;
}

.tab-control-container i:hover {
    background-color: red;
}

.watchlist-tab-content.ui-tabs-panel {
    padding: 0px;
}

.watchlist-tabs-container .watchlist-tab.ui-tab.ui-tabs-active {
    padding: 0px;
    margin: 0px;
}

.watchlist-tabs-container .ui-tabs-active .ui-icon:hover {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_444444_256x240.png");
    background-color: white;
}

.watchlist-tabs-container .ui-tabs-tab:not(.ui-tabs-active) .ui-icon:hover {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png");
    background-color: var(--highlight-color);
}

/* watchlist page specific */
#watchlist-container {
    height: calc(100vh - 45px);
    overflow-y: auto;
    padding: 0px 10px;
    box-sizing: border-box !important;
}

@media screen and (max-width: 80em) {
    #watchlist-container {
        height: 100%;
    }
}

.backgroundText {
    text-align: center;
    color: grey;
    width: 100%
}

[v-cloak] {
    display: none;
}

@media (max-width: 600px) {
    .collapse-column {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .no-padding-override {
        padding: 0px !important;
    }

    .pure-table th {
        vertical-align: middle;
    }

    .pure-table th.button-container {
        width: 30px;
    }

    .collapse-column.comment-column:empty::before {
        content: "No comment";
        color: #bbbbbb;
        font-style: italic;
    }
}