:root {
    --highlight-color: #4f52aa;
    --a-in-highlight: #dcf1ff;
}

pre {
    white-space: pre-wrap;
}

.param-form-container {
    text-align: center;
    margin: 20px;
}

.param-form-container form {
    /* border: 1px solid black; */
    display: inline-block;
}

.param-form-container input {
    margin-right: 10px;
}

/* table stuff */
table.pure-table {
    border-collapse: collapse;
    text-align: left;
}

.pure-table th {
    background-color: var(--highlight-color);
    color: white;
    padding: 10px 7px;
    border: 0px solid red;
}

.pure-table td {
    padding: 9px 7px;
    border: 0px solid red;
}

.gains-text {
    color: green;
}

.loss-text {
    color: red;
}

.right-align {
    text-align: right !important;
}

table.small-td-text td {
    font-size: 0.9em;
}

/* sortable table stuff */
.table-sortable .ui-icon {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/images/ui-icons_ffffff_256x240.png");
}

.table-sortable th.tablesorter-header {
    padding-right: 3px; /* decrease padding so arrows line up with content on right-aligned columns */
}

.tablesorter-header-inner {
    cursor: pointer;
}

/* toolbar stuff */
.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 0px;
    margin: 0px 0px 10px 0px;
}

.toolbar-left {
    display: inline-block;
    margin: 0px 0px 0px 5px;
    text-align:left;
}

.toolbar-right {
    display: inline-block;
    margin: 0px 4px;
    overflow: visible;
}

.toolbar-right img {
    width: 20px;
    height: auto;
}

/* theming */
a, a:link, a:visited {
    color: #06C;
    text-decoration: underline;
    cursor: pointer;
}

.highlight {
    background-color: var(--highlight-color);
    color: white;
}

.highlight a {
    color: var(--a-in-highlight);
}

.highlight a:link {
    color: var(--a-in-highlight);
}

.highlight a:visited {
    color: var(--a-in-highlight);
}

.material-icons {
    font-size: 24px;
}

.pure-button-primary {
    background-color: var(--highlight-color) !important;
    border-radius: 0px;
}

.pure-form-stacked label {
    margin: 1em 0 .5em 0;
}

/* .pure-button-primary {
    background-color: white !important;
    border-radius: 4px;
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color)
} */

/* jquery-ui theme overrides */
.ui-state-active {
    border: 1px solid var(--highlight-color) !important;
    background: var(--highlight-color) !important;
}

.ui-widget-overlay {
    opacity: 0.4;
}

/* dialog overrides */
.themed-titlebar.ui-dialog {
    padding: 0px;
    border: 0px;
}

.themed-titlebar .ui-dialog-titlebar {
	/* display: none; */
	border: 0px;
	background: var(--highlight-color);
	color: #ffffff;
	border-radius: 0px;
}

.themed-titlebar .ui-dialog-title {
    width: 100%;
    white-space: normal;
    font-size: 1.1em;
}

.themed-titlebar .ui-button {
    display: none;
}

#add-watchlist-dialog input[type="number"] {
    width: 100%;
}

#add-watchlist-dialog input[type="text"] {
    width: 100%;
}

/* watchlist page specific */
#watchlist-container {
    height: calc(100vh - 175px);
    overflow-y: auto;
    padding: 0px 10px;
    box-sizing: border-box !important;
}

@media screen and (max-width: 80em) {
    #watchlist-container {
        height: 100%;
    }
}

.backgroundText {
    text-align: center;
    color: grey;
    width: 100%
}

[v-cloak] {
    display: none;
}