<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% block head %}
        <meta name="viewport" content="width=500" />
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
                integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/assets/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" href="/assets/main.css" />

        <script type="text/javascript" src="/assets/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/assets/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/assets/userData.js"></script>
        
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="main-toolbar" class="toolbar highlight">
            {% if constant('APPENV') == 'dev' %}
                <span style="background-color: red;">You are browsing the DEV site. <a href="https://markethunt.vsong.ca">Go to the production site</a></span> | 
            {% endif %}
            <a href=index.php>Main page</a>
            | <a href="/highestvolumes.php">Highest volume items</a>
            | Top movers: <a href="/top.php?period=day">day</a>
            <a href="/top.php?period=week">week</a>
            <a href="/top.php?period=month">month</a>
            <a href="/top.php?period=qtr">qtr</a>
            <a href="/top.php?period=year">year</a>
            <a href="/top.php?period=custom&from=2021-12-06&to=2022-01-05">gwh-2021</a>
            | <a href="/watchlist.php">Watchlist</a>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>