<script type="text/javascript" src="/assets/canvasjs.stock.min.js"></script>
<div id="chartBundle" style="text-align:center; max-width:800px; margin:auto;">
    <h1 id="chartHeader">{% block chart_header %}{% endblock %}</h1>
    <div id="chartContainer" style="width:100%;height:600px; margin:auto;"></div>
    <form id="chartForm" action="javascript:;" onsubmit="handleChartSubmit()" class="pure-form" style="margin: 10px;">
        <select id="chartSelector" name="item_id" onchange="handleChartSubmit()" style="max-width: 80%;">
            <option value="" disabled selected hidden>Select an item</option>
            {% for item in item_metadata %}
                <option value="{{ item.item_id }}" {% if item.item_id == current_item_id %} selected="selected"{% endif %}>
                    {{- item.name -}}
                </option>
            {% endfor %}
        </select>
        <!-- <input type="submit" class="pure-button pure-button-primary"> -->
    </form>
</div>
<script src="/assets/chart.js"></script>