{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<script>
    $(function() {
        var dateFormat = "yy-mm-dd";
        var dateOptions = { 
            minDate: new Date(2021, 12-1, 01), 
            maxDate: -1, 
            dateFormat: dateFormat,
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true
        };

        var from = $("#from")
            .datepicker(dateOptions)
            .on("change", function() {to.datepicker( "option", "minDate", getDate(this));
        });

        var to = $("#to")
            .datepicker(dateOptions)
            .on("change", function() {from.datepicker( "option", "maxDate", getDate(this));
        });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }
            return date;
        }
    });
</script>
<h1 style="text-align: center">{{ title }}</h1>
<!-- <p>Date: <input type="text" id="datepicker"></p> -->
<div class="param-form-container">
    <form id="paramForm" action="highestvolumes.php" method="GET" class="pure-form">
        <label for="from">From:</label>
        <input type="text" id="from" name="from" value={{ from }}>
        <label for="to">To:</label>
        <input type="text" id="to" name="to" value={{ to }}>
        <input type="submit" class="pure-button pure-button-primary">
    </form>
</div>
<table style="margin: 10px auto; " class="pure-table pure-table-striped">
    <th>Gold volume</th>
    <th>Trade volume</th>
    <th>Item</th>
    {% for item in items %}
        <tr>
            <td style="text-align:right">{{ item.cum_goldvol|number_format }}</td>
            <td style="text-align:right;">{{ item.cum_tradevol|number_format }}</td>
            <td><a href="/mvp.php?item_id={{ item.item_id }}">{{ item.name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}