{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1 style="text-align: center">{{ title }}</h1>
<table style="margin: 10px auto; " class="pure-table pure-table-striped">
    <th>Gold volume</th>
    <th>Trade volume</th>
    <th>Item</th>
    {% for item in items %}
        <tr>
            <td style="text-align:right">{{ item.gold_volume|number_format }}</td>
            <td style="text-align:right;">{{ item.volume|number_format }}</td>
            <td><a href="/mvp.php?item_id={{ item.item_id }}">{{ item.name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}