{% extends "base.html" %}
{% block meta_description %}Marketplace price history for {{ current_item_name }}{% endblock %}
{% block title %}{{ current_item_name }}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block chart_header %}{{ current_item_name }}{% endblock %}

{% block body %}
{% include('chartContainer.html') %}
<script>
    function processWatchlistFormData(price, comment) {
        var selector = document.getElementById('chartSelector');
        var itemId = selector.value;
        var itemName = selector.options[selector.selectedIndex].text;
        var watchlist = getWatchlistObj();
        watchlist.push({
            'item_id': itemId,
            'mark': price,
            'comment': comment
        });
        setWatchlistObj(watchlist);
        renderChartWithItemId(itemId, itemName);
    }

    renderChartWithItemId({{ current_item_id }}, "{{ current_item_name }}");

    function handleChartSubmit(addToHistory = true) {
        var selector = document.getElementById('chartSelector');
        var itemId = selector.value;
        var itemName = selector.options[selector.selectedIndex].text;
        if (addToHistory === true) {
            window.history.replaceState({}, itemName, "/index.php?item_id=" + itemId);
            document.title = itemName + ' - Markethunt'; // change title after replaceState to preserve title of previous history entry 
        }
        renderChartWithItemId(itemId, itemName);
    }
</script>
{% endblock %}