{% extends "base.html" %}

{% block title %}{{ current_item_name }}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block chart_header %}{{ current_item_name }}{% endblock %}

{% block body %}
{% include('chartContainer.html') %}
<script>
    function onClickDatapoint(e) {
        var datestring = e.dataPoint.x.toISOString().substring(0,10);
        var comment = prompt(`Add datapoint to watchlist?\n\nPrice: ${e.dataPoint.y}\n\nComment:`, "");

        if (comment === null) {
            return;
        }

        var watchlist = getWatchlistObj();
        watchlist.push({
            'item_id': document.getElementById('chartSelector').value,
            'mark': parseInt(e.dataPoint.y),
            'comment': comment
        });

        setWatchlistObj(watchlist);
        window.location.reload();
    }

    renderChartWithItemId({{ current_item_id }}, "{{ current_item_name }}");

    function handleChartSubmit() {
        var selector = document.getElementById('chartSelector');
        var itemId = selector.value;
        var itemName = selector.options[selector.selectedIndex].text;
        window.history.replaceState({}, itemName, "/index.php?item_id=" + itemId);
        document.title = itemName; // change title after replaceState to preserve title of previous history entry 
        renderChartWithItemId(itemId, itemName);
    }
</script>
{% endblock %}