{% extends "base.html" %}

{% block title %}{{ current_item_name }}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block chart_header %}{{ current_item_name }}{% endblock %}

{% block body %}
{% include('chartContainer.html') %}
<script>
    function onClickDatapoint () {
        // do nothing
    }

    renderChartWithItemId({{ current_item_id }}, "{{ current_item_name }}");

    function handleChartSubmit() {
        window.location.href = "/mvp.php?item_id=" + document.getElementById('chartSelector').value;
    }
</script>
{% endblock %}