{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<script>
    $(function() {
        var dateFormat = "yy-mm-dd";
        var dateOptions = { 
            minDate: new Date(2020, 8-1, 20), 
            maxDate: 0, 
            dateFormat: dateFormat,
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true
        };

        var from = $("#from")
            .datepicker(dateOptions)
            .on("change", function() {to.datepicker( "option", "minDate", getDate(this));
        });

        var to = $("#to")
            .datepicker(dateOptions)
            .on("change", function() {from.datepicker( "option", "maxDate", getDate(this));
        });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }
            return date;
        }
    });
</script>
<h1 style="text-align: center">Top winners and losers {{ date_range.from }} to {{ date_range.to }}</h1>
<div class="param-form-container">
    <form id="paramForm" action="top.php" method="GET" class="pure-form">
        <label for="from">From:</label>
        <input type="text" id="from" name="from" value={{ from }}>
        <label for="to">To:</label>
        <input type="text" id="to" name="to" value={{ to }}>
        <label for="volume_limit">Minimum Volume:</label>
        <input type="number" id="volume_limit" name="volume_limit" min=0 max=1000000000 value={{ volume_limit }}>
        <input type="submit" class="pure-button pure-button-primary">
    </form>
</div>
<div style="text-align: center">
    <p><i>*Only showing items with a daily gold volume of at least {{ volume_limit|number_format}}.<br>
    Due to missing volume data before 2021-12-01, the numbers you see are yesterday's volumes. </i></p>
</div>
<div class="pure-g" style="margin:auto; max-width:1400px">
    {% for dataset in datasets %}
        <div class="pure-u-1 pure-u-lg-1-2">
            <div style="padding:10px">
                <table style="margin:auto;" class="pure-table pure-table-striped">
                    <th style="max-width:70px" class="right-align">% Chg</th>
                    <th>Item</th>
                    <th style="max-width:110px" class="right-align">Current price</th>
                    <th style="max-width:110px" class="right-align">Gold volume*</th>
                    {% for row in dataset %}
                        <tr>
                            {% if row.change_pct >= 0 %}
                                <td class="right-align gains-text">+{{ row.change_pct|number_format }}%</td>
                            {% else %}
                                <td class="right-align loss-text">{{ row.change_pct|number_format }}%</td>
                            {% endif %}
                            <td><a href="/mvp.php?item_id={{ row.item_id }}">{{ row.name }}</a></td>
                            <td class="right-align">{{ row.latest_price|number_format }}</td>
                            <td class="right-align">{{ row.gold_volume|number_format }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}