{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div style="text-align: center">
    <h1>Top winners and losers {{ date_range.from }} to {{ date_range.to }}</h1>
    <p><i>*Only showing items with a daily gold volume of at least {{ volume_limit|number_format}}.<br>
    Due to missing volume data before 2021-12-01, the numbers you see are yesterday's volumes. </i></p>
</div>
<div class="pure-g" style="margin:auto; max-width:1400px">
    {% for dataset in datasets %}
        <div class="pure-u-1 pure-u-lg-1-2">
            <div style="padding:10px">
                <table style="margin:auto;" class="pure-table pure-table-striped">
                    <th style="max-width:70px" class="number">% Chg</th>
                    <th>Item</th>
                    <th style="max-width:110px" class="number">Current price</th>
                    <th style="max-width:110px" class="number">Gold volume*</th>
                    {% for row in dataset %}
                        <tr>
                            {% if row.change_pct >= 0 %}
                                <td style="text-align:right; color:green">+{{ row.change_pct|number_format }}%</td>
                            {% else %}
                                <td style="text-align:right; color:red">{{ row.change_pct|number_format }}%</td>
                            {% endif %}
                            <td><a href="/mvp.php?item_id={{ row.item_id }}">{{ row.name }}</a></td>
                            <td style="text-align:right">{{ row.latest_price|number_format }}</td>
                            <td style="text-align:right">{{ row.gold_volume|number_format }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}