{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ parent() }}
<script src="https://unpkg.com/vue@next"></script>
{% endblock %}

{% block body %}
<div style="text-align: center">
    <h1>Watchlist</h1>
</div>
<div class="pure-g">
    <div style="text-align: center;padding: 10px;" class="pure-u-1 pure-u-xl-1-2" >
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1 pure-u-xl-1-2">
        {% include('chartContainer.html') %}
    </div>
    <div id="watchlist-container" class="pure-u-1 pure-u-xl-1-2">
        <form action="javascript:;" onsubmit="addFormToWatchlist()" class="pure-form" id="addForm" style="text-align: center;padding: 10px;">
            <select name="item_id" onchange="updateMarkInput()" id="itemSelector" style="max-width: 35%;">
                {% for item in item_metadata %}
                    <option value="{{ item.item_id }}">
                        {{- item.name }} {{ '(' ~ item.latest_price|number_format ~ 'g)' -}}
                    </option>
                {% endfor %}
            </select>
            <input type="number" min="1" max="9999999999" placeholder="Mark price" style="max-width: 15%;" id="itemMark">
            <input type="text" placeholder="Comment (optional)" style="max-width: 25%;" id="itemComment">
            <input type="submit" class="pure-button pure-button-primary" value="Add to watchlist">
        </form>
        <table v-cloak id="vue-container" class="pure-table pure-table-striped small-td-text" style="width:100%; background-color: white;">
            <tr>
                <th>Item</th>
                <th>Comment</th>
                <th class="right-align">Benchmark</th>
                <th class="right-align">Chg%</th>
                <th class="right-align">Current Price</th>
                <!-- <th>json</th> -->
                <th></th>
            </tr>
        {% verbatim %}
            <tr v-for="(item, idx) in watchlistSortedName" :key="item.item_id">
                <td>
                    <a @click="renderChart(item.item_id, appData.itemData[item.item_id].name)">
                        {{ appData.itemData[item.item_id].name }}
                    </a>
                </td>
                <td><i>{{ item.comment }}</i></td>
                <template v-if="item.mark !== null">
                    <td class="right-align">{{ item.mark.toLocaleString("en-US") }}</td>
                    <td class="right-align" v-bind:class="getColorClass(appData.itemData[item.item_id].latest_price / item.mark - 1)">
                        {{ formatPercent((appData.itemData[item.item_id].latest_price / item.mark - 1) * 100) }}
                    </td>
                    <td class="right-align" v-bind:class="getColorClass(appData.itemData[item.item_id].latest_price / item.mark - 1)">
                        {{ appData.itemData[item.item_id].latest_price.toLocaleString("en-US") }}
                    </td>
                </template>
                <template v-else>
                    <td class="right-align"></td>
                    <td class="right-align"></td>
                    <td class="right-align">{{ appData.itemData[item.item_id].latest_price.toLocaleString("en-US") }}</td>
                </template>
                <!-- <td>{{ item }}</td> -->
                <td style="text-align: right;">
                    <button @click="removeWatchItem(idx)" class="pure-button pure-button-primary" style="font-size:0.8em">
                        Delete
                    </button>
                </td>
            </tr>
        {% endverbatim %}
        </table>
    </div>
</div>

<script>
/* main script block */
// chart handling
renderChartWithItemId({{ current_item_id }}, "{{ current_item_name }}");

function handleChartSubmit(addToHistory = true) {
    var selector = document.getElementById('chartSelector');
    var itemId = selector.value;
    var itemName = selector.options[selector.selectedIndex].text;
    renderChartWithItemId(itemId, itemName);
    if (addToHistory === true) {
        window.history.replaceState({}, itemName, "/watchlist.php?item_id=" + itemId);
        document.title = 'Watchlist | ' + itemName; // change title after replaceState to preserve title of previous history entry 
    }
}

function processWatchlistFormData(price, comment) {
    addToWatchlist(document.getElementById('chartSelector').value, price, comment)
}

// form handling
const addForm = document.getElementById('addForm');
addForm['itemSelector'].value = '';

// Generic add to watchlist
function addToWatchlist(itemId, mark, comment) {
    appData.watchlistItems.push({
        'item_id': itemId,
        'mark': mark,
        'comment': comment
    });
    setWatchlistObj(appData.watchlistItems);

    if (itemId === document.getElementById('chartSelector').value) {
        renderChartWithItemId(itemId, appData.itemData[itemId].name);
    }
}

// reload when other tab edits watchlist
window.addEventListener('storage', (e) => {
    if (e.key == "watchlistv1") {
        window.location.reload();
    }
});

// Add form data to watchlist
function addFormToWatchlist() {
    if (addForm['itemSelector'].value.trim() === '') {
        return;
    }

    addToWatchlist(addForm['itemSelector'].value, 
        addForm['itemMark'].value, 
        addForm['itemComment'].value);

    addForm['itemSelector'].value = '';
    addForm['itemMark'].value = '';
    addForm['itemComment'].value = '';
}

function updateMarkInput() {
    addForm['itemMark'].value = appData.itemData[addForm['itemSelector'].value].latest_price;
}

/* vue script block */
const { reactive } = Vue;

if (!savedWatchlistExists()) {
    var watchlistRaw = [{'item_id':114, 'mark':10000, 'comment':'Default comment'}]; 
} else {
    var watchlistRaw = getWatchlistObj();
}

const appData = reactive({
    itemData: {{ item_metadata | json_encode | raw }},
    watchlistItems: watchlistRaw
});

const app = Vue.createApp({
    data() {
        return {
            appData
        }
    },
    computed: {
        watchlistSortedName() {
            let wl = this.appData.watchlistItems;
            wl.sort(function(a,b) {
                a_name = appData.itemData[a.item_id].name;
                b_name = appData.itemData[b.item_id].name;
                if (a_name > b_name) {
                    return 1;
                } else if (b_name > a_name) {
                    return -1;
                } else {
                    return 0;
                }
            });
            return wl;
        },
    },
    methods: {
        formatPercent(num) {
            if (num > 0) {
                return '+' + num.toFixed(0) + '%';
            } else if (num < 0) {
                return num.toFixed(0) + '%';
            } else {
                return '-';
            }
        },
        getColorClass(num) {
            if (num > 0) {
                return {'gains-text' : true};
            } else if (num < 0) {
                return {'loss-text' : true};
            } else {
                return {};
            }
        },
        removeWatchItem(idx) {
            appData.watchlistItems.splice(idx, 1);
            setWatchlistObj(appData.watchlistItems);
            handleChartSubmit(false);
        },
        renderChart(itemId, headerText) {
            document.getElementById('chartSelector').value = itemId;
            renderChartWithItemId(itemId, headerText);
        }
    }
});

app.mount("#vue-container");
</script>
{% endblock %}