{% extends "base.html" %}
{% block meta_description %}My watchlisted items{% endblock %}
{% block title %}Watchlist{% endblock %}

{% block head %}
{{ parent() }}
{% if constant('APPENV') == 'prod' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.29/vue.global.prod.min.js"></script>
{% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.29/vue.global.js"></script>
{% endif %}
{% endblock %}

{% block body %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-xl-1-2">
        {% include('chartContainer.html') %}
    </div>
    <div id="watchlist-container" class="pure-u-1 pure-u-xl-1-2">
        <div style="text-align: center">
            <h1>Watchlist</h1>
        </div>
        <table v-cloak id="vue-container" class="pure-table pure-table-striped small-td-text table-sortable" style="width:100%; background-color: white;">
            <thead>
                <tr>
                    <th class="sortable-header" @click="sort('item')">
                        {# Make twig remove whitespace between text and i tag #}
                        {{ "Item" -}}
                        <i v-bind:class="getSortIconClass('item')"></i>
                    </th>
                    <th class="sortable-header" @click="sort('comment')">
                        {{ "Comment" -}}
                        <i v-bind:class="getSortIconClass('comment')"></i>
                    </th>
                    <th class="sortable-header right-align" @click="sort('mark')">
                        {{ "Benchmark" -}}
                        <i v-bind:class="getSortIconClass('mark')"></i>
                    </th>
                    <th class="sortable-header right-align" @click="sort('price')">
                        {{ "Current Price" -}}
                        <i v-bind:class="getSortIconClass('price')"></i>
                    </th>
                    <th class="sortable-header right-align" @click="sort('chg')">
                        {{ "Chg%" -}}
                        <i v-bind:class="getSortIconClass('chg')"></i>
                    </th>
                    <!-- <th>json</th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% verbatim %}
                    <tr v-for="(item, idx) in watchlistSorted">
                        <td>
                            <a @click="renderChart(item.item_id, appData.itemData[item.item_id].name)">
                                {{ appData.itemData[item.item_id].name }}
                            </a>
                        </td>
                        <td><i>{{ item.comment }}</i></td>
                        <template v-if="item.mark !== null">
                            <td class="right-align">{{ item.mark.toLocaleString("en-US") }}</td>
                            <td class="right-align" v-bind:class="getColorClass(appData.itemData[item.item_id].latest_price / item.mark - 1)">
                                {{ appData.itemData[item.item_id].latest_price.toLocaleString("en-US") }}
                            </td>
                            <td class="right-align" v-bind:class="getColorClass(appData.itemData[item.item_id].latest_price / item.mark - 1)">
                                {{ formatPercent((appData.itemData[item.item_id].latest_price / item.mark - 1) * 100) }}
                            </td>
                        </template>
                        <template v-else>
                            <td class="right-align"></td>
                            <td class="right-align">{{ appData.itemData[item.item_id].latest_price.toLocaleString("en-US") }}</td>
                            <td class="right-align"></td>
                        </template>
                        <!-- <td>{{ item }}</td> -->
                        <td style="text-align: right;">
                            <button @click="removeWatchItem(idx)" class="pure-button pure-button-primary" style="font-size:0.8em">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endverbatim %}
            </tbody>
        </table>
    </div>
</div>

<script>
/* main script block */
// chart handling
renderChartWithItemId({{ current_item_id }}, "{{ current_item_name }}");

function handleChartSubmit(addToHistory = true) {
    var selector = document.getElementById('chartSelector');
    var itemId = selector.value;
    var itemName = selector.options[selector.selectedIndex].text;
    renderChartWithItemId(itemId, itemName);
    if (addToHistory === true) {
        window.history.replaceState({}, itemName, "/watchlist.php?item_id=" + itemId);
    }
}

function processWatchlistFormData(price, comment) {
    addToWatchlist(document.getElementById('chartSelector').value, price, comment)
}

// Generic add to watchlist
function addToWatchlist(itemId, mark, comment) {
    appData.watchlistItems.push({
        'item_id': itemId,
        'mark': mark,
        'comment': comment
    });
    setWatchlistObj(appData.watchlistItems);

    if (itemId === document.getElementById('chartSelector').value) {
        renderChartWithItemId(itemId, appData.itemData[itemId].name);
    }
}

// reload when other tab edits watchlist
window.addEventListener('storage', (e) => {
    if (e.key == "watchlistv1") {
        window.location.reload();
    }
});

/* vue script block */
const { reactive } = Vue;

if (!savedWatchlistExists()) {
    var watchlistRaw = [{'item_id':114, 'mark':10000, 'comment':'Default comment'}]; 
} else {
    var watchlistRaw = getWatchlistObj();
}

const appData = reactive({
    itemData: {{ item_metadata | json_encode | raw }},
    watchlistItems: watchlistRaw
});

const app = Vue.createApp({
    data() {
        return {
            appData,
            currentSort: 'item',
            currentSortDir: 'asc',
        }
    },
    computed: {
        watchlistSorted() {
            return this.appData.watchlistItems.sort((a,b) => {
                var order = (this.currentSortDir === 'asc') ? 1 : -1;
                if (this.currentSort === 'item') {
                    var a_val = appData.itemData[a.item_id].name;
                    var b_val = appData.itemData[b.item_id].name;
                } else if (this.currentSort === 'comment') {
                    var a_val = a.comment === "" ? null : a.comment;
                    var b_val = b.comment === "" ? null : b.comment;
                } else if (this.currentSort === 'mark') {
                    var a_val = a.mark;
                    var b_val = b.mark;
                } else if (this.currentSort === 'price') {
                    var a_val = appData.itemData[a.item_id].latest_price;
                    var b_val = appData.itemData[b.item_id].latest_price;
                } else if (this.currentSort === 'chg') {
                    var a_val = (a.mark == null) ? null : appData.itemData[a.item_id].latest_price / a.mark - 1;
                    var b_val = (b.mark == null) ? null : appData.itemData[b.item_id].latest_price / b.mark - 1;
                } else {
                    throw new Error('Sort key not recognized: ' + this.currentSort);
                }

                if (a_val === b_val) {
                    return 0;
                } 
                if (a_val === null) {
                    return 1;
                }
                if (b_val === null) {
                    return -1;
                }

                if (a_val > b_val) {
                    return 1 * order;
                } else if (a_val < b_val) {
                    return -1 * order;
                } else {
                    return 0;
                }
            });
        },
    },
    methods: {
        sort(sortKey) {
            if(sortKey === this.currentSort) {
                this.currentSortDir = (this.currentSortDir === 'asc') ? 'desc' : 'asc';
            } else {
                this.currentSortDir = 'asc';
                this.currentSort = sortKey;
            }
        },
        formatPercent(num) {
            if (num > 0) {
                return '+' + num.toFixed(0) + '%';
            } else if (num < 0) {
                return num.toFixed(0) + '%';
            } else {
                return '-';
            }
        },
        getColorClass(num) {
            if (num > 0) {
                return {'gains-text' : true};
            } else if (num < 0) {
                return {'loss-text' : true};
            } else {
                return {};
            }
        },
        getSortIconClass(columnKey) {
            if (columnKey === this.currentSort){
                if (this.currentSortDir === 'asc') {
                    return ['ui-icon', 'light-ui', 'tablesorter-icon', 'ui-icon-caret-1-n'];
                } else {
                    return ['ui-icon', 'light-ui', 'tablesorter-icon', 'ui-icon-caret-1-s'];
                }
            } else {
                return ['ui-icon', 'light-ui', 'tablesorter-icon', 'ui-icon-caret-2-n-s'];
            }
        },
        removeWatchItem(idx) {
            appData.watchlistItems.splice(idx, 1);
            setWatchlistObj(appData.watchlistItems);
        },
        renderChart(itemId, headerText) {
            document.getElementById('chartSelector').value = itemId;
            renderChartWithItemId(itemId, headerText);
            window.history.replaceState({}, headerText, "/watchlist.php?item_id=" + itemId);
        }
    }
});

app.mount("#watchlist-container");
</script>
{% endblock %}